body {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column; /* Muda para coluna para organizar o formulário acima da visualização 3D */
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px; /* Aumenta a largura máxima para acomodar a visualização 3D */
  text-align: center;
  margin-bottom: 20px; /* Adiciona margem inferior para separar do elemento 3D */
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 20px);
  box-sizing: border-box;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

button:hover {
  background-color: #0056b3;
}

#results {
  margin-top: 20px;
  text-align: left;
}

#lamp-positions,
#lamp-distances {
  margin-top: 10px;
}

canvas {
  margin-top: 20px;
  border: 1px solid #ccc;
  width: 100%;
  height: auto;
}

/* Responsividade */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 20px;
  }
}
